<h1>About</h1>

<h2>About Compony</h2>

<p>Lorem...</p>

@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Programming Languages";
    listModel.ListItems = new List<string>()
    {
        "Java",
        "C#",
        "TypeScript"
    };
    await Html.RenderPartialAsync("_ListPartialView", listModel);
}